<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Servicios</title>
    <link rel="stylesheet" href="../assets/css/style.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">
</head>
<body>
    <div id="grid-wrapper">
        <section class="header">
            <h2 class="logo"><img src="../img/core.jpg" width="60%" alt=""></h2>
            <nav>
                <ul>
                    <li><a href="../index.html">Inicio</a></li>
                    <li>
                        Productos
                    <ul>
                        <li><a href="../views/laptop.html">Laptop</a></li>
                        <li><a href="../views/escritorio.html">Escritorio</a></li>
                        <li><a href="../views/smartphone.html">Smartphone</a></li>
                        <li><a href="../views/tablet.html">Tablet</a></li>
                        <li><a href="../views/vr.html">Vr</a></li>
                    </ul>
                    </li>
                    <li><a href="../views/soporte.html">Soporte</a></li>
                    <li><a href="../views/servicios.html">Servicios</a></li>
                    <li><a href="../views/contacto.html">Contacto</a></li>
                </ul>
            </nav>
        </nav>
        </section>
        <section class="main">
                <h2 class="main__tituloIndex">
                    Sitio oficial de la marca CORE LTD
                </h2>
            <div>
                <img src="../img/edificio1.jpg" alt="">
            </div>
        </section>
        <section class="main2">
            <div class="main2__titulo">
                <img src="../img/servicios.jpg" alt="">
            </div>
        </section>
        <section class="main3">
            <div class="main3__tituloServicio">
                    Servicios para Empresas y Pymes
            </div>
                <div class="main3__subtituloServicio">
                    Los servicios CORE estan diseñados para solucionar problemas de dispositivos de la marca alrededor del mundo. El servicio esta disponible los 365 dias del año las 24hs. 
                </div>
        </section>
        <section class="main4">
            <div class="main4__form">
                <form action="">
                    <label for="nombre">Nombre:</label>
                    <input type="text" placeholder="Nombre de Empresa" id="nombre"> 
                    <br>
                    <label for="mail">Ingrese su mail</label>   
                    <input type="email">
                    <br>
                    Horario de Contacto <select name="Horario" id"">   
                                    <option value="Mañana">Mañana</option>  
                                    <option value="Tarde">Tarde</option>
                                </select>
                    <br>
                    <br>
                    Comentario:
                    <br>
                    <textarea name="" id="" cols="100" rows="10"></textarea>
                    <br>
                    <input type="submit" value="Enviar">
                    <br>
                    <input type="reset" value="Limpiar formulario">
                </form>
            </div>
        </section>
        <section class="main5">
            <div class="main5__trabajo">
                <img src="../img/trabajo.jpg" width="100%" alt="">
            </div>
            </section>
            <div class="footer">
                <div class="footer__title">
                    Core Ltd  2021
                </div>
                <div>
                    ¿Desea recibir newsletter?
                    <input type="checkbox" name="acepta" value="1">
                </div>
                    <div class="footer__links">
                            <a href="#">Privacidad</a>
                            <a href="#">Historia</a>
                            <a href="#">Terminos de Uso</a>
                            <a href="#">Contacto</a>
                    </div>
            </div>
    </div>
</body>
</html>